
/* #region global */
::selection { background-color: var(--grayColorWeak); }

::-webkit-scrollbar { width: 7px; }

::-webkit-scrollbar-thumb {
    border-radius: 2px;

    background-color: var(--darkColorLighten);
}

::-webkit-scrollbar-track { background-color: var(--darkColorWeak); }

body, html {
	background-color: var(--grayColorWeak);
}

main div.bg-image {
	background-image: url(../images/code.png);
	background-repeat: repeat;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: .05;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

body {
	overflow: hidden;

	transition-property: opacity;
	transition-duration: 1s;
}

div#main-content.load::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	height: 150vh;

	background-color: var(--lightColor);

	overflow: hidden;
}

div#main-content.load * { display: none !important; }
/* #endregion */


/* #region header */
header.landleg {
	display: flex;

	height: 100vh;
	
	box-sizing: border-box;
	overflow: hidden;
	transform: translateY(-50px);
}

header.landleg div.landleg-content {
	align-self: center;
	position: relative;
	
	margin: auto;
}

header.landleg h1 {
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);

	line-height: normal;
}

header.landleg video {
	position: absolute;
	align-self: center;
	
	left: 0;

	opacity: 0.2;
}
/* #endregion */

/* #region footer */
footer div.footer-logo  {
	margin-bottom: 50px;

	text-align: center;
}

div.footer-social-links {
	display: flex;
	justify-content: space-between;

	width: 350px;
	margin: auto;
}

div.footer-social-links div.col div.social-link {
	position: relative;
	width: 50px;
	height: 50px;

	border-radius: 50%;

	background-color: var(--lightColorWeak);

	transition-property: background-color, box-shadow;
	transition-duration: 0.5s;
}

div.footer-social-links div.col div.social-link i {
	position: absolute;
	top: 50%;
	left: 50%;

	color: var(--darkColor);

	transform: translate(-50%, -50%);
}

div.footer-social-links div.col { text-align: center; }

div.footer-social-links div.col div.social-link:hover {
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);

	background-color: var(--lightColorLighten);
}

div.copyright {
	padding-top: 5px;
	height: 40px;
}
/* #endregion */

@media(max-width: 845px) {
	div.footer-social-links.flex { flex-direction: row; }
}