button#mute {
    display: none;
    position: absolute;

    top: 180px;
    left: 50%;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 3px;

    background-color: var(--grayColorWeak);

    transform: translateX(-50%);
    cursor: pointer;

    transition-property: opacity background-color;
    transition-duration: 0.4s;

    animation-name: displayMuteBtn;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

button#mute > i {
    color: var(--grayColorLighten);

    transition-property: color;
    transition-duration: 0.4s;
}

button#mute:hover {
    background-color: var(--grayColorLighten);
}

button#mute:hover > i { color: var(--darkColor); }

button#mute:focus { outline: none; }

@keyframes displayMuteBtn {
    from {
        margin-top: 20px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;
    }
}