::selection { background-color: var(--grayColorWeak); }

/*----------[Header]-----------*/
header.landleg {
	height: 350px;
	padding: 100px 10vw;
	
	box-sizing: border-box;
}

header.landleg h1 {
	line-height: normal;
	text-align: center;
	
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}